<h1>doctor show page</h1>

<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university %>

<%= @hospital.name %>

<ul id='patient_list'>
  <% @doctor.patients.each do |patient| %>
    <li>
    <%= patient.name %>
    <p><%= link_to "Unassign #{patient.name}", patient_doctor_path(@doctor.patient_doctor(patient)), method: :delete %></p>
    </li>
  <% end %>
</ul>